body{
    background-color: black;
}
/* 
header{
    position: fixed !important;
    width: 100%;
    z-index: 100;
    background-color: black !important;

} */
.card{
    background-color: black !important;
    /* background-color: #182433 !important; */
}

.avatar{
    /* background-color: #1b293a !important; */
    background-color: black !important;
}