body{
    background-color: black;
}

.card{
    --tblr-card-bg: none;
    border: none !important;;
}

strong{
    color:#FFF;
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1210px;
    }
}

header{
    position: fixed !important;
    width: 100%;
    z-index: 100;
    background-color: black !important;

}

/* header nav{
    min-height:70px !important;
} */

.page-wrapper{
    margin-top:55px !important
}


.search-box{
    border-radius: 15px;
}

.input-search{
    border-radius: 15px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: black;
}

/* .form-control{
    background-color: black;
    border: none;
    box-shadow: none !important;
} */


.d-hidden{
    visibility: hidden;
}