{% comment %} {% extends "base.html" %} {% endcomment %}
{% block body %}
{% include "cusnav.html" %}
{% include "footer.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <link rel="stylesheet" href="{% static 'style/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'style/main.css' %}">
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- Option 1: Include in HTML -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
        <header>
             <nav class="navbar navbar-expand-lg bg-dark fixed-top" >
                <div class="container-fluid">
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  {% comment %} <img src="{% static 'images/logoWhiteBack.png' %}" width="190px" height="90px"alt="" srcset=""> {% endcomment %}
                  <a class="navbar-brand " href="#" style="color:white; margin-right:30%;font-size:30px">Financ<span class="brand">E</span>d</a>
                  <div class="collapse navbar-collapse text-center" id="navbarTogglerDemo03">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-4">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#learn">Learn</a>
                      </li>
                      <li class="nav-item">
                        {% comment %} <a class="nav-link" href="{% url 'socialmedia' %}">Social</a> {% endcomment %}
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href={% url "signup" %}>Login</a>
                      </li>
                    </ul>
                    {% comment %} <form class="d-flex" role="search">
                      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="width: 180px;">
                      <button class="btn btn-outline" style="background-color:rgb(255, 165, 9);font-size:20px" type="submit">Search</button>
                    </form> {% endcomment %}
                  </div>
                </div>
              </nav> 
              <div class="banner container-fluid">
                <div class="banner-content" data-aos="fade-down"  data-aos-duration="2000">
                    <h2 class="banner-title">Join With Us On The Road To Financial Wisdom</h2>
                    <h1>Financ<span class="brand">E</span>d</h1>
                    <h3>Your All In One Platform</h3>
                    <div class="btn-box">
                        <a href={% url "signup" %} class="cus-btn">Lets Go</a>
                    </div>
                </div>     
              </div>
        </header>
      <main>
        <section class="about-us" id="about">
            <h1 class="text-center">About<span class="brand">Us</span></h1>
            <p>What We Offer From Our Dynaminc Plat Form</p>
           <div class="about-point">
            <ul>
                <li data-aos="fade-down"> engaging <span class="brand">quizzes</span></li>
                <li data-aos="fade-down">personalized AI chat <span class="brand">support</span></li>  
                <li data-aos="fade-down" data-aos-duration="500">captivating financial <span class="brand">quizzes</span></li> 
                <li data-aos="fade-down">easy-to-follow audio <span class="brand">lessons</span> </li>
                </ul>
           </div>
           <p>Let make <span class="brand">Financial </span> Learning Enjoyable</p>
           <div class="btn-box btn-read">
            <a href="#" class=" cus-btn" >Read More</a>
        </div>
        </section>
        <!-- =====educations ===== -->
        <section class="syllabus">
            <div class="education" id="education">
        
                <h2 class="heading"><span class="toGold">Syllabus</span></h2>
        
                    <div class="education-row">
    
                        <div class="education-column">
                            <h3 class="title">Chapter 1: Personal Finance Foundation<br><br></h3>
        
                            <div class="education-box">
    
                                <div class="education-content">
                                    <div class="content">
                                        <div class="book"><i class='bx bx-book-open'></i></div>
                                        
                                        <h3>Module 1: Money Management and Budgeting</h3>
        
                                        <p>
                                        •	Introduction to money and its importance<br>
                                        •	Basics of budgeting and differentiating needs from wants<br>
                                        •	Tips for avoiding debt and recognizing predatory lending practices<br>
                                        •	Responsible use of credit cards
                                        </p>
        
                                    </div>
                                </div>
    
    
                                <div class="education-content">
                                    <div class="content">
                                        <div class="book"><i class='bx bx-book-open'></i></div>
        
                                        <h3>Module 2: Banking, Savings, and Emergency Fund</h3>
        
                                        <p>
                                        •	Basics of banking services and opening a bank account<br>
                                        •	Importance of saving and setting savings goals<br>
                                        •	Setting up and maintaining an emergency fund<br>
                                        •	Examples of emergency situations and how to financially prepare for them
                                        
                                        </p>
        
                                    </div>
                                </div>
    
    
                                <div class="education-content">
                                    <div class="content">
                                        <div class="book"><i class='bx bx-book-open'></i></div>
        
                                        <h3>Module 3: Credit, Debt Management, and Financial Goals</h3>
        
                                        <p>
                                        •	Introduction to credit cards and responsible usage<br>
                                        •	Understanding loans, repayment strategies, and avoiding debt traps<br>
                                        •	Setting and adjusting short- and long-term financial goals with a plan for achievement.
                                        </p>
        
                                    </div>
                                </div>
    
    
    
                                <div class="education-content">
                                    <div class="content">
                                        <div class="book"><i class='bx bx-book-open'></i></div>
        
                                        <h3>Module 4: Investment Basics and Risk Management</h3>
        
                                        <p>
                                        •	Basics of investing and different investment options<br>
                                        •	Understanding risks and benefits of investments<br>
                                        •	Importance of risk management in financial decision-making
                                        </p>
        
                                    </div>
                                </div>
    
    
    
                                <div class="education-content">
                                    <div class="content">
                                        <div class="book"><i class='bx bx-book-open'></i></div>
        
                                        <h3>Module 5: Insurance and Financial Wellness</h3>
        
                                        <p>
                                        •	Purpose and types of insurance<br>
                                        •	Understanding premiums, coverage, and risk management<br>
                                        •	Importance of financial health and achieving financial wellness<br>
                                        •	Seeking professional help for financial guidance if needed
                                        </p>
        
                                    </div>
                                </div>
    
    
                            </div>
                        </div>
    
    
    
                    <!-- Second column of syllabus-->

                        <div class="education-column">
                            <h3 class="title">Chapter 2: Advanced Financial Concepts<br><br></h3>
        
                            <div class="education-box">
                                <div class="education-content">
                                    <div class="content">
                                        <div class="book"><i class='bx bx-book-open'></i></div>
        
                                        <h3>Module 6: Real Estate, Taxes, and Financial Fraud Prevention</h3>
        
                                        <p>
                                        •	Understanding real estate and the decision of renting vs buying<br>
                                        •	Basics of property taxes and their importance<br>
                                        •	Identifying financial frauds and scams and how to prevent them
                                        </p>
        
                                    </div>
                                </div>
    
    
    
                                <div class="education-content">
                                    <div class="content">
                                        <div class="book"><i class='bx bx-book-open'></i></div>
        
                                        <h3>Module 7: Financial Markets and Digital Financial Services</h3>
        
                                        <p>
                                        •	Introduction to financial markets and their role<br>
                                        •	Basics of the stock market and investment strategies<br>
                                        •	Introduction to digital financial services and their benefits<br>
                                        •	Using digital services safely and securely
    
                                        </p>
        
                                    </div>
                                </div>
    
    
    
    
                                <div class="education-content">
                                    <div class="content">
                                        <div class="book"><i class='bx bx-book-open'></i></div>
        
                                        <h3>Module 8: Global Financial Awareness and Practical Applications</h3>
        
                                        <p>
                                        •	Understanding the international economy and its impact<br>
                                        •	Importance of global financial literacy and staying informed<br>
                                        •	Applying financial knowledge to real-life scenarios through problem-solving.
                                        </p>
        
                                    </div>
                                </div>
    
    
    
    
                                <div class="education-content">
                                    <div class="content">
                                        <div class="book"><i class='bx bx-book-open'></i></div>
        
                                        <h3>Module 9: Financial Wellness and Professional Help</h3>
        
                                        <p>
                                        •	Importance of financial health and tips for achieving financial wellness<br>
                                        •	Seeking professional help for financial guidance and assistance<br>
                                        •	Developing strategies for maintaining financial well-being in the long term
                                        </p>
        
                                    </div>
                                </div>
    
    
    
    
                                <div class="education-content">
                                    <div class="content">
                                        <div class="book"><i class='bx bx-book-open'></i></div>
        
                                        <h3>Module 10: Review and Conclusion</h3>
        
                                        <p>
                                        •	Reviewing key concepts covered in the course<br>
                                        •	Reflecting on personal financial goals and achievements<br>
                                        •	Planning for continued financial education and growth
                                        </p>
        
                                    </div>
                                </div>
    
    
                        
                            </div>
                        </div>
    
                    </div>
    
            </div>
    
        </section>    
        <div class="learning-corner" id="learn">

            <h2 class="heading"><span class="toGold">The Learning Corner</h2>
            <div class="container">
                <div class="card">
                    <div class="circle">
                        <h2>CHATBOT</h2>
                    </div>
                    <div class="content">
                        <img src="{% static 'images/logotransp.png' %}" alt="">
                        {% comment %} <a href="#" style="transform: translateX(120%);"></a> {% endcomment %}
                    </div>
                </div>
                <div class="card">
                    <div class="circle">
                        <h2>STORY</h2>
                    </div>
                    <div class="content" style="text-align: center;">
                        <img src="{% static 'images/logotransp.png' %}" alt="">
                        {% comment %} <a href={% url "story" %} style="transform: translateX(120%); display: block; margin: 0 auto;">GO</a> {% endcomment %}
                    </div>
                </div>
                <div class="card">
                    <div class="circle">
                        <h2>LISTEN</h2>
                    </div>
                    <div class="content">
                        <img src="{% static 'images/logotransp.png' %}" alt="">
                        {% comment %} <a href="#" style="transform: translateX(120%);"></a> {% endcomment %}
                    </div>
                </div>
            </div> 
        </div>

{% comment %} <div class="container">
            <div class="card">
                <div class="circle">
                    <h2>CHATBOT</h2>
                </div>
                <div class="content">
                    <img src="{% static 'images/logotransp.png' %}" alt="">
                    <p>A chatbot is a software application used to conduct an online chat conversation via text or text-to-speech.</p>
                    <a href="#" style="transform: translateX(120%);">GO</a>
                </div>
            </div>
            <!-- Similarly for other cards -->
        </div> {% endcomment %}
        
        <footer class="footer">
            <div class="container">
                <p>&copy; 2024 FinancEd. All Rights Reserved.</p>
            </div>
        </footer> 
      </main>
      {% comment %} <button class="float-button" data-toggle="popover" title="Popover Header" data-content="Some content inside the popover">
        <img src="{% static 'images/chat.svg' %}" alt="" srcset="">
      </button> {% endcomment %}
    <script src="{% static 'style/main.css' %}"></script>
    <script src="{% static 'style/js/bootstrap.js' %}"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
      </script>
{% include "footer.html" %}
{% endblock body %}
</body>
</html>