<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/css/tom-select.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler-flags.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler-payments.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons&display=block" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler-vendors.min.css">
    <!-- <link rel="stylesheet" href="{% static 'style/main.css' %}"> -->
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <link rel="stylesheet" href="{% static 'style/profile.css' %}">
    <script src="
https://cdn.jsdelivr.net/npm/date-fns@3.6.0/cdn.min.js
"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/profile.js' %}"></script>
    <title>Profile</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-dark fixed-top" >
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
               
                <div class="d-flex justify-content-between w-100">
                    <a class="navbar-brand " href="#" style="color:white;font-size:30px">Financ<span class="brand">E</span>d</a>
                    <div class="navbar-nav text-center" id="navbarTogglerDemo03">
                        <ul class="navbar-nav mb-2 mb-lg-0 gap-4">
                            <li class="nav-item">
                            <a class="nav-link active text-white" aria-current="page" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link text-white" href="#about">About</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link text-white" href="#learn">Learn</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link text-white" href="{% url 'post_list' %}">Social</a>
                            </li>
                            <!-- <li class="nav-item">
                            <a class="nav-link" href={% url "signup" %}>Login</a>
                            </li> -->
                        </ul>
                    {% comment %} <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="width: 180px;">
                        <button class="btn btn-outline" style="background-color:rgb(255, 165, 9);font-size:20px" type="submit">Search</button>
                    </form> {% endcomment %}
                    </div>
                    <div class="navbar-nav flex-row order-md-last">
                        
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown" aria-label="Open user menu">
                            <span class="avatar avatar-sm rounded-circle" style="background-image: url('https://preview.tabler.io/static/photos/young-entrepreneur-working-from-a-modern-cafe.jpg')"></span>
                            <div class="d-none d-xl-block ps-2 fs-4">
                                <div class="text-white userName" style="text-transform: capitalize;"></div>
                                <div class="mt-1 small text-secondary user-role" style="text-transform: capitalize;">UI Designer</div>
                            </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <a href="#" class="dropdown-item">Status</a>
                            <a href="./profile.html" class="dropdown-item">Profile</a>
                            <a href="#" class="dropdown-item">Feedback</a>
                            <div class="dropdown-divider"></div>
                            <a href="./settings.html" class="dropdown-item">Settings</a>
                            <a href="./sign-in.html" class="dropdown-item">Logout</a>
                            </div>
                        </div>
                    </div>

                    
                </div>
                
            </div>
        </nav> 
    
       </header>
    <section class="h-100">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center">
            <div class="col-10">
              <div class="card">
                <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:200px;">
                  <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                      alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                      style="width: 150px; z-index: 1">
                    <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-dark text-body" data-mdb-ripple-color="dark" style="z-index: 1;">
                      Edit profile
                    </button>
                  </div>
                  <div class="ms-3" style="margin-top: 130px;">
                    <h5 class="userName" style="text-transform: capitalize;"></h5>
                    <p class="user-role" style="text-transform: capitalize;"></p>
                  </div>
                </div>
                <div class="p-4 text-black bg-body-tertiary">
                  <div class="d-flex justify-content-end text-center py-1 text-body">
                    <div>
                      <p class="mb-1 h5" id="post-length"></p>
                      <p class="small text-muted mb-0">Posts</p>
                    </div>
                    <div class="px-3">
                      <p class="mb-1 h5" id="followers"></p>
                      <p class="small text-muted mb-0">Followers</p>
                    </div>
                    <div>
                      <p class="mb-1 h5" id="following"></p>
                      <p class="small text-muted mb-0">Following</p>
                    </div>
                  </div>
                </div>
                <div class="card-body p-4 text-black">
                  <!-- <div class="mb-5  text-body">
                    <p class="lead fw-normal mb-1">About</p>
                    <div class="p-4 bg-body-tertiary">
                      <p class="font-italic mb-1">Web Developer</p>
                      <p class="font-italic mb-1">Lives in New York</p>
                      <p class="font-italic mb-0">Photographer</p>
                    </div>
                  </div> -->
                  <div class="d-flex justify-content-between align-items-center mb-4 text-body">
                    <p class="lead fw-normal mb-0">Recent photos</p>
                    <!-- <p class="mb-0"><a href="#!" class="text-muted">Show all</a></p> -->
                  </div>
                  <div class="row row-cards g-2" id="post-container">
                    
                
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</body>
</html>