<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/css/tom-select.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler-flags.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler-payments.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons&display=block" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler-vendors.min.css">
    <link rel="stylesheet" href="{% static 'style/main.css' %}">
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <link rel="stylesheet" href="{% static 'style/socialmedia.css' %}">
    <script src="
https://cdn.jsdelivr.net/npm/date-fns@3.6.0/cdn.min.js
"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/post.js' %}"></script>
    <title>FinanceEd</title>
</head>
<body>
    
    <div class="page">
      {% include 'common-header.html' %}
        



        <div class="page-wrapper">
          <div class="page-body">
              <div class="container-xl">
                  <div class="row">
                        <div class="col-3">
                          <div class="text-muted mb-3">Suggested for you</div>
                          <div class="card">
                              <div class="card-body ps-0">
                                  <div class="divide-y" id="suggested-users">
                                      
                                      
                                  </div>
                              </div>
                          </div>
                        </div>
                        <div class="col-6" id="posts-container">
                           
                        </div>
                         
               
                      <div class="col-3">
                          <div class="d-flex justify-content-end">
                            
                              <div>
                                <button class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#modal-simple">
                                    <i class="ti ti-plus fs-2"></i>
                                    <span class="ms-2 ">
                                        Upload Post
                                    </span>
                                   
                                </button>
                                  <div class="text-muted mb-3">People You Follow</div>
                                  <div class="card">
                                      <div class="card-body ps-0">
                                          <div class="divide-y" id="following-users">
                                              
                                              
                      
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      
                      </div>
                  </div>

              </div>
          </div>
      </div>
    </div>
    <div class="modal modal-blur fade" id="modal-simple" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Upload Post</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" id="postForm" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <input type="file" class="form-control mb-3" id="file-upload">
                        <img id="image-preview" src="#" alt="Image Preview" class="d-hidden">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Description</label>
                        <textarea class="form-control" name="example-textarea-input" id="description" rows="3" placeholder="Content.." spellcheck="false" data-ms-editor="true"></textarea>
                    </div>
                    <!-- <input type="submit" value="Upload" class="btn btn-primary" id="uploadPost"> -->
                    <div class="w-100 d-flex justify-content-end">
                        <button class="btn btn-primary" data-bs-dismiss="modal" type="submit">Upload</button>

                    </div>
                </form>
              

            </div>
            <div class="modal-footer">
              <button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
              <!-- <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="uploadPost">Upload</button> -->
            </div>
          </div>
        </div>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/js/tabler.min.js"></script>
</body>
</html>














