
{% load static %}
{% include "footer.html" %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Story Mode Modules</title>
    <link rel="stylesheet" href={% static "style/Styles.css" %}> <!-- Link to your CSS file -->
</head>
<body class="back-bg-black">



    {% include 'common-header.html' %}

    <!-- Story Mode Modules -->
    <div class="container">
         <!-- Module 1 -->
         <div class="row justify-content-center">
            <div class="col-md-6"> <!-- Half the width of the webpage -->
                <div class="custom-card card">
                    <div class="card-header">Module 1: Money Management Basics*
                    </div>
                    <div class="card-body">
                        <ul>
                            <li>Introduction to money and its importance
                            </li>
                            <li>Money Matters: Exploring the Purpose, Value, and Types of Money</li>
                            <li>Basics of Budgeting, Savings and Needs vs. Wants
                            </li>
                        </ul>
                    </div>
                    <div class="btn-box">
                        <a href={% url "story" %} class="cus-btn">Let's Go</a>
                    </div> 
    
                </div>
            </div>
        </div>
         <!-- Module 2 -->
         <div class="row justify-content-center">
            <div class="col-md-6"> <!-- Half the width of the webpage -->
                <div class="custom-card card">
                    <div class="card-header">Module 2: Banking and Savings*</div>
                    <div class="card-body">
                        <ul>
                            <li>Basics of banking services and opening a bank account</li>
                            <li>Importance of saving and setting savings goals</li>
                            <li>Understanding Interest Rates and Deposit Options</li>
                        </ul>
                    </div>
                 
                        <div class="btn-box">
                            <a href={% url "story" %} class="cus-btn">Let's Go</a>
                        </div>
                  
                </div>
            </div>
        </div>

        <!-- Module 3 -->
        <div class="row justify-content-center">
            <div class="col-md-6"> <!-- Half the width of the webpage -->
                <div class="custom-card card">
                    <div class="card-header">Module 3: Understanding Credit</div>
                    <div class="card-body">
                        <ul>
                            <li>Introduction to credit cards and responsible usage</li>
                            <li>Understanding credit risk and credit scores</li>
                            <li>Basics of Bank Loans and repayment strategies</li>
                        </ul>
                    </div>

                    <div class="btn-box">
                        <a href={% url "story" %} class="cus-btn">Let's Go</a>
                    </div>
              
                </div>
            </div>
        </div>
        <!-- Module 4 -->
        <div class="row justify-content-center">
            <div class="col-md-6"> <!-- Half the width of the webpage -->
                <div class="custom-card card">
                    <div class="card-header">Module 4: Introduction to Investments</div>
                    <div class="card-body">
                        <ul>
                            <li>Basics of investing and different investment options</li>
                            <li>Understanding risks and benefits of investments</li>
                            <li>Introduction to terms like large cap, small cap, and multi cap</li>
                        </ul>
                    </div>
                    
                    <div class="btn-box">
                        <a href={% url "story" %} class="cus-btn">Let's Go</a>
                    </div>


                </div>
            </div>
        </div>
        <!-- Module 5 -->
        <div class="row justify-content-center">
            <div class="col-md-6"> <!-- Half the width of the webpage -->
                <div class="custom-card card">
                    <div class="card-header">Module 5: Insurance Basics</div>
                    <div class="card-body">
                        <ul>
                            <li>Purpose and types of insurance</li>
                            <li>Understanding premiums, coverage, and risk management</li>
                            <li>Understanding insurance as an investment option</li>
                        </ul>
                    </div>
                    <div class="btn-box">
                        <a href={% url "story" %} class="cus-btn">Let's Go</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Module 6 -->
        <div class="row justify-content-center">
            <div class="col-md-6"> <!-- Half the width of the webpage -->
                <div class="custom-card card">
                    <div class="card-header">Module 6: Real Estate and Taxes Basics</div>
                    <div class="card-body">
                        <ul>
                            <li>Understanding real estate and renting vs buying</li>
                            <li>Basics of property taxes and their importance</li>
                            <li>Understanding tax terms like GST, capital gains tax, and tax incentives</li>
                        </ul>
                    </div>
                    <div class="btn-box">
                        <a href={% url "story" %} class="cus-btn">Let's Go</a>
                    </div>

                </div>
            </div>
        </div>
        <!-- Module 7 -->
        <div class="row justify-content-center">
            <div class="col-md-6"> <!-- Half the width of the webpage -->
                <div class="custom-card card">
                    <div class="card-header">Module 7: Financial Markets</div>
                    <div class="card-body">
                        <ul>
                            <li>Introduction to financial markets and their role</li>
                            <li>Basics of the stock market and investment strategies</li>
                            <li>Understanding terms like BSE, SEBI, insider trading, and swing trading</li>
                        </ul>
                    </div>
                     <div class="btn-box">
                        <a href={% url "story" %} class="cus-btn">Let's Go</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Module 8 -->
        <div class="row justify-content-center">
            <div class="col-md-6"> <!-- Half the width of the webpage -->
                <div class="custom-card card">
                    <div class="card-header">Module 8: Global Financial Awareness</div>
                    <div class="card-body">
                        <ul>
                            <li>Understanding the international economy and its impact</li>
                            <li>Importance of global financial literacy</li>
                            <li>Understanding foreign currency and its implications</li>
                        </ul>
                    </div>
                    <div class="btn-box">
                        <a href={% url "story" %} class="cus-btn">Let's Go</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Module 9 -->
        <div class="row justify-content-center">
            <div class="col-md-6"> <!-- Half the width of the webpage -->
                <div class="custom-card card">
                    <div class="card-header">Module 9: Financial Wellness</div>
                    <div class="card-body">
                        <ul>
                            <li>Importance of financial health and tips for achieving financial wellness</li>
                            <li>Seeking professional help for financial guidance</li>
                            <li>Understanding terms like balance sheet, income, and liability vs assets</li>
                        </ul>
                    </div>
                    <div class="btn-box">
                        <a href={% url "story" %} class="cus-btn">Let's Go</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Module 10 -->
        <div class="row justify-content-center">
            <div class="col-md-6"> <!-- Half the width of the webpage -->
                <div class="custom-card card">
                    <div class="card-header">Module 10: Review and Conclusion</div>
                    <div class="card-body">
                        <ul>
                            <li>Reviewing key concepts covered in the course</li>
                            <li>Reflecting on personal financial goals and achievements</li>
                        </ul>
                    </div>
                    <div class="btn-box">
                        <a href={% url "story" %} class="cus-btn">Let's Go</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>

